[class*='col-'] {
  float: left;
}

.body_margin {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.grid-col-10of10 {
  width:100%;
  float:left;
  padding-bottom: 0.5em;
  margin-top: 0;
}

.headerbar{
  background: black;
  padding-bottom: 0.3em;
}

.headerbar-button-wrapper{
  width: 60%;
  margin-right: 20%;
  margin-left: 20%
}

.grid-col-3of10 {
  float: left;
  width: 30%;
}

.grid-col-1of4 {
  width: 10%;
}

.grid-col-1of6 {
  width:16.6%;
}

.grid-col-1of3 {
  width: 33.3%;
  float: left;
}

.navigation-nav {
  float: right;
  padding-bottom: 2em;
}

.navigation_wrapper{
  margin-top: 1.3em;
}

.nav_button{
  padding-left: 3em;
}

.headerbar-header-button{
  float:right;
  height:1.5em;
  text-align:center;
  padding:0;

}

.grid-col-10of10.main-image{
  width: auto;
  height: auto;
}

.categories-category_image {
  background: #CCC;
  height: 200px;
}

.events-image {
  background: #CCC;
  height: 300em;
}

.logo_image {
  text-align: center;
}

body {
  margin: 0;
}



/* 912px ---------------------------------------------*/
@media (max-width:681px){

  .grid-col-3of10 {
    width: 100%;
    display: block;
    margin-bottom: 1em;
  }

  .navigation-nav{
    float: none;
   }

 }

@media (max-width:1200px){

  .navigation_wrapper{
  margin-top: 1.6em;
  }
  
  .body_margin {
  width: 88%;
  margin-left: 6%;
  margin-right: 6%;
  }

  .headerbar-button-wrapper{
  width: 88%;
  margin-right: 6%;
  margin-left: 6%
}

}