[class*='col-'] {
  float: left;
}

.body_margin {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.grid-col-10of10 {
  width:100%;
  float:left;
  padding-top: 0.3em;
  padding-bottom: 0.9em;
  margin-top: 0;
}

.headerbar{
  background: black;
  padding-bottom: 0.3em;
}

.headerbar-button-wrapper{
  width: 60%;
  margin-right: 20%;
  margin-left: 20%
}

.grid-col-3of10 {
  float: left;
  width: 30%;
  margin-top: 1.5em;
}

.grid-col-1of4 {
  width:25%;
}

.grid-col-1of2 {
  width: 50%;
}

.grid-col-3of10.social-media{
  width: 30%;
  margin-top: 0em;
}

.grid-col-7of10 {
  width: 70%;
}

.grid-col-4of10 {
  width: 40%;
}

.grid-col-6of10 {
  width: 60%;
}

.newspaper-signup{
  float: right;
}

.shopping-wrapper{
  width: 100%;
}


.navigation-nav {
  float: right;
  padding-bottom: 2em;
}

.navigation_wrapper{
  padding-top: 2em;
}

.nav_button{
  padding-left: 3em;
}

.headerbar-header-button{
  float:right;
  height:1.5em;
  text-align:center;
}

.headerbar-header-button img {
  width: 80%;
  padding-top: 0.3em;
}

.grid-col-10of10.main-image{
  width: auto;
  height: auto;
  padding-bottom: 1em;
}

.categories-image img{
  width: 100%;
}

.navigation-logo img  {
  float: left;
  display: block;
  height: auto;
  width: 220px;
 }

 .events-image{
  padding-bottom: 2em;
 }

.events-image #event1 {
  width: 98%;
  float: left;
  padding-bottom: 1em;
}

.events-image #event2 {
  width: 98%;
  float:right;
  padding-bottom: 1em;
}

.bottompage {
  background: black;
}

.icons img{
  width: 25px;
  margin-right: 0.8em;
  margin-top: 1em;
}

.newspaper {
  margin-top:1em;
}

.grid-col-5of10.hierarchy {
  margin-bottom: 1em;
}

.packpack-image img{
  width: 97%;
}

.grid-col-1of4.packpack-image {
  width: 25%;
}

.product-detail-image img {
  width: 100%;
}

.description-wrapper {
  margin-left: 3em;
}


body {
  margin: 0;
}



/* 912px ---------------------------------------------*/
@media (max-width:800px) and (min-width: 0px){

  .grid-col-3of10 {
    width: 100%;
    margin-bottom: 1.6em;
    clear: both;
  }

  .navigation-nav{
    float: none;
   }

   .navigation-logo{
    float:none;
    }

   .navigation-logo img{
    width: 36%;
    padding-left: 32%;
    padding-right: 32%;
    padding-bottom: 1.2em;
    }

    .grid-col-1of4 {
    width: 50%;
  }

  .grid-col-10of10 {
  padding-bottom: 0.0em;
  padding-top: 0em;
  }

.grid-col-1of2 {
  width:  100%;
}

 .body_margin{
  width: 96%;
  margin-left: 2%;
  margin-right: 2%; 
}

.headerbar-button-wrapper {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%; 
}


.events-image #event1 {
  width: 100%;
}

.events-image #event2 {
  width: 100%;
}

.grid-col-1of3.newspaper-signup {
  width: 0%;
  float: right;
}

.grid-col-3of10.social-media{
  width: 100%;
  margin-top: 0em;
  float: none;
}

.icons{
    width: 36%;
    padding-left: 34%;
    padding-right: 34%;
    text-align: center;

}

.grid-col-7of10 {
  float: left;
  width: 100%;
}

.grid-col-1of4.packpack-image {
  width: 50%;
}


}

@media (max-width:1300px) and (min-width: 801px){

  .navigation_wrapper{
   margin-top: 0.1em;
  }
  
  .body_margin {
    width: 84%;
    margin-left: 8%;
    margin-right: 8%; 

  }

  .navigation-logo img  {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    width: 220px;
 }

.headerbar-button-wrapper {
    width: 84%;
    margin-left: 8%;
    margin-right: 8%; 
}



}