[class*='col-'] {
  float: left;
}

.body_margin {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.grid-col-10of10 {
  width:100%;
  float:left;
  padding-bottom: 0.9em;
  margin-top: 0;
}

.headerbar{
  background: black;
  padding-bottom: 0.3em;
}

.headerbar-button-wrapper{
  width: 60%;
  margin-right: 20%;
  margin-left: 20%
}

.grid-col-3of10 {
  float: left;
  width: 30%;
  margin-top: 1.5em;
}

.grid-col-1of4 {
  width:25%;
}

.grid-col-1of3 {
  width: 33.3%;
  float: left;
}


.navigation-nav {
  float: right;
  padding-bottom: 2em;
}

.navigation_wrapper{
  padding-top: 2em;
}

.nav_button{
  padding-left: 3em;
}

.headerbar-header-button{
  float:right;
  height:1.5em;
  text-align:center;
  padding:0;

}

.grid-col-10of10.main-image{
  width: auto;
  height: auto;
  padding-bottom: 1em;
}

.categories-image img{
  width: 100%
}

.navigation-logo img  {
  float: left;
  display: block;
  margin: 0 auto;
  height: auto;
  width: 220px;
 }


.events-image {
  background: #CCC;
  height: 300em;
}


body {
  margin: 0;
}



/* 912px ---------------------------------------------*/
@media (max-width:800px){

  .navigation-logo {
    width: 100%;
    margin-bottom: 1.6em;
  }

  .navigation-nav{
    float: none;
   }

   .navigation-logo img  {
    float: none;
    margin: 0 auto;
    height: auto;
    width: 220px;
 }

 .grid-col-1of4 {
  width: 50%;
}

 }

@media (max-width:1300px){

  .navigation_wrapper{
  margin-top: 0.1em;
  }
  
  .body_margin {
  width: 88%;
  margin-left: 6%;
  margin-right: 6%;
  }

  .headerbar-button-wrapper{
  width: 88%;
  margin-right: 6%;
  margin-left: 6%
}

  .navigation-logo img  {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    width: 220px;
 }

}